.event-card {
  text-align: center;
  background: #ccc;
  color: #333;
  margin-bottom: 10px;
  padding: 5px;
}

.event-card:first-child {
  background-color: rgb(255, 181, 116);
  color: #333;
  font-style: italic;
  margin-bottom: 5x;
}

.eventButton,
.events-title {
  text-align: center;
  margin-bottom: 20px;
}

form.eventForm {
  margin-top: 40px;
}

section.events {
  padding: 0 35px;
}
