.events {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 10rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}

.event-card:first-child {
  background-color: green;
}
