.event-card {
  text-align: center;
  background: rgb(51, 143, 255);
  color: #fff;
  border: 0.5px solid #333;
  margin-bottom: 10px;
}

.event-card:first-child {
  background-color: #ccc;
  color: #333;
  font-style: italic;
  border: 0.5px solid #333;
  margin-bottom: 10px;
}

.eventButton,
.events-title {
  text-align: center;
  margin-bottom: 20px;
}
